@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --purpleGradiant: linear-gradient(
    135deg,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-weight: 800;
}

p {
  font-size: 15px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: var(--Very-Light-Grayish-Blue);
}

.background-top {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.background-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.header {
  color: var(--Grayish-Blue);
  margin-bottom: 35px;
  margin-top: 50px;
}

.duration {
  display: flex;
  align-items: center;
  gap: 25px;
  color: var(--Light-Grayish-Blue);
}

.toggle-container {
  width: 52px;
  height: 25px;
  background: var(--purpleGradiant);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 3px;
  transition: opacity 300ms ease;
  cursor: pointer;
}

.toggle-container:hover {
  opacity: 0.5;
}

.toggle-button {
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

#toggle {
  display: none;
}

#toggle:checked + .toggle-container {
  justify-content: start;
}

.cards-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.card {
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.card > h3 {
  color: var(--Grayish-Blue);
}

.price {
  display: flex;
  align-items: center;
  color: var(--Dark-Grayish-Blue);
  font-size: x-large;
  margin: 25px 0;
}
.price h1 {
  font-weight: 800;
}
.offers {
  list-style: none;
  width: 100%;
  border-top: 1px solid var(--Light-Grayish-Blue);
  border-bottom: 1px solid var(--Light-Grayish-Blue);
  margin-bottom: 30px;
}

.offers li {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid var(--Light-Grayish-Blue);
  color: var(--Grayish-Blue);
}

.offers li:first-child {
  border-top: none;
}

.offers li:last-child {
  border-bottom: none;
}
.learn-more {
  width: 100%;
  padding: 10px 0;
  letter-spacing: 1px;
  border: none;
  color: var(--Very-Light-Grayish-Blue);
  background: var(--purpleGradiant);
  border-radius: 5px;
  cursor: pointer;
}
.learn-more:hover {
  border: 1px solid var(--Light-Grayish-Blue);
  background: transparent;
}
.learn-more:hover .button-text {
  background: var(--purpleGradiant);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card.professional {
  background: var(--purpleGradiant);
  padding: 50px 20px;
}
.card.professional h3 {
  color: var(--Very-Light-Grayish-Blue);
}
.card.professional .price {
  color: var(--Very-Light-Grayish-Blue);
}
.card.professional ul li {
  color: var(--Very-Light-Grayish-Blue);
}
.card.professional .learn-more {
  background: none;
  background-color: var(--Very-Light-Grayish-Blue);
}
.card.professional .learn-more:hover {
  background-color: transparent;
}
.card.professional .learn-more .button-text {
  background: var(--purpleGradiant);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card.professional .learn-more:hover .button-text {
  color: var(--Very-Light-Grayish-Blue);
  background: none;
  background-clip: none;
  -webkit-background-clip: none;
}
@media (max-width: 950px) {
    body{
        height: fit-content;
    }
    .cards-container{
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 50px;
    }
    .card{
        padding: 50px 20px;
    }
  }
  
